
@{
    ViewBag.Title = "InputOneColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-toolbar">

    <div class="page-toolbar-block">
        <div class="page-toolbar-title">Input With 2 Column</div>
    </div>

    <div class="page-toolbar-block pull-right">
        <div class="widget-info widget-from">
            <button class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
            <button class="btn btn-primary"><i class="fa fa-cog"></i> Settings</button>
            <button class="btn btn-danger"><i class="fa fa-power-off"></i> Exit</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content">
                <h2><strong>Input</strong> Elements</h2>
            </div>
            <div class="block-content controls">
                <div class="row-form">
                    <div class="col-md-2"><strong>Name:</strong></div>
                    <div class="col-md-4"><input type="text" class="form-control" placeholder="Input Your Name" /></div>
                    <div class="col-md-2"><strong>Text Right:</strong></div>
                    <div class="col-md-4"><input type="text" class="form-control" value="input text value right" /></div>
                </div>
                <div class="row-form">
                    <div class="col-md-2"><strong>Address:</strong></div>
                    <div class="col-md-4"><input type="text" class="form-control" placeholder="Input Your Address" /></div>
                    <div class="col-md-2"><strong>Text Right:</strong></div>
                    <div class="col-md-4"><input type="text" class="form-control" value="input text value right" /></div>
                </div>
                <div class="row-form">
                    <div class="col-md-2"><strong>Tanggal</strong></div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><strong>Text Right:</strong></div>
                    <div class="col-md-4"><input type="text" class="form-control" value="input text value right" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

